<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>상세 페이지</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="border rounded p-4 bg-white shadow-sm mb-4">
        <h2 th:text="${board.title}"></h2>
        <p class="text-muted">
            작성자: <span th:text="${board.author.username}"></span>
            조회수: <span th:text="${board.hit}"></span>
            작성일자 : <span th:text="${#temporals.format(board.createDt, 'yyyy-MM-dd')}"></span>
            수정일자 : <span th:text="${#temporals.format(board.updateDt, 'yyyy-MM-dd')}"></span>
        </p>
        <hr>
        <div th:utext="${board.content}"></div>
    </div>
    <div class="d-flex justify-content-end gap-2">
        <a sec:Authorize="isAuthenticated()" th:href="@{|/board/update/${board.id}|}"
           class="btn btn-outline-secondary btn-sm">수정</a>
        <form sec:Authorize="isAuthenticated()" th:action="@{|/board/delete/${board.id}|}" method="post"
              onsubmit="return confirm('정말 삭제하시겠습니까?');">
            <button type="submit" class="btn btn-outline-danger btn-sm">삭제</button>
        </form>
        <a th:href="@{/board/list}" class="btn btn-outline-primary btn-sm">목록</a>
    </div>
    <div id="comment-list">
        <ul>
            <li th:each="comment : ${board.commentList}" th:id="'comment-' + ${comment.id}">
                <strong th:text="${comment.author.username}"></strong>:
                <span th:text="${comment.content}"></span>
                <button onclick="deleteComment([[${comment.id}]])">삭제</button>
            </li>
        </ul>
    </div>
    <textarea name="commentContent" id="commentContent" cols="30" rows="10"></textarea>
    <button th:onclick="'submitComment(' + ${board.id} + ')'">댓글 작성</button>
</div>

</body>
<th:block layout:fragment="script">
    <script>
        function submitComment(boardId) {
            const content = document.getElementById("commentContent").value;
            fetch("/comments/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ boardId, content })
            }).then(res => {
                if (res.ok) location.reload();
                else alert("댓글 등록 실패");
            });
        }
    </script>
</th:block>
</html>