<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<div layout:fragment="content" class="container my-3">
    <center>
        <table>
            <h1>마이페이지</h1>
            <tr>
                <th>아이디</th>
                <td th:text="${member.username}"></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td>********</td>
            </tr>
            <tr>
                <th>이름</th>
                <td th:text="${member.name}"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td th:text="${member.email}"></td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td th:text="${member.nickname}"></td>
            </tr>
            <tr>
                <th>기본 주소</th>
                <td th:text="${member.addr1}"></td>
            </tr>
            <tr>
                <th>상세 주소</th>
                <td th:text="${member.addr2}"></td>
            </tr>
        </table>
        <button>
            <a th:href="@{/member/mypage/{username}/update(username = ${username})}">수정하기</a>
        </button>
        <button>
            <a th:href="@{/member/mypage/${username}/delete(username = ${username})}">회원탈퇴</a>
        </button>
    </center>
</div>
</html>